/*
:root {
    --primary: #fcba03;
    --secondary: #fcc630;
    --background: #040c17;
    --background-secondary: #141c27;
    --background-shimmer: #242c37;
    --text-primary: #e6e6e6;
    --text-secondary: #b3b3b3;
    --white: #ffffff;
    --black: #000000;
    --select-color: #40ffffff;
    --ripple: #666666;
    --error: #f55442;
}
*/

* {
    border: none;
}

window {
    background-color: #040c17;
}

/*
window * {
    color: #e6b800;
    padding: 0;
    margin: 0;
}
*/
scrollbar.vertical slider, scrollbar.horizontal slider {
    background-color: #fcba03;
}

#left_nav {
    background-color: #141c27;
}

#left_nav button {
    /*color: #e6b800;*/
    background-image: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#left_nav button.selected {
    background-color: #242c37;
}

#left_nav button:hover {
    background-color: #242c37;
}

#header {
    background-color: #242c37;
    background-image: url("/var/www/images/landscape/d04f148795a31c4c0723e49fe635ec5e297aba89a76ae73060eb1b031609f7fd.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cell {
    background-color: red;
    margin: 0 20px;
}

/*
#fixed {
    background-color: transparent;
    background: linear-gradient(transparent, #040c17);
}
*/

